@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --blue-shade: #355C7D;
  --purple-shade: #6C5B7B;
  --maroon-shade: #C06C84;
  --red-shade: #F67280;
  --brown-shade: #F8B195;
}

html * {
  font-family: 'Raleway';
}

body {
  background-color: var(--blue-shade);
}